*,body {
    margin: 0;
    padding: 0;
}
@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,400');
@import "var.scss";

.common {
    display: block;
    color: $color2;
    font-family: $fontFamily;
}

.wrapper {
    // @extend .common;
    // width: 80%;
    // margin: 0px auto;
}

.header-area {
    border-bottom: 4px solid $color3;
    // border: 4px solid $color3;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 10px;

    .logo {
        @extend .common;
        text-align: left;
        display: inline-block;
        width: auto;
        padding: 10px;

        img {

            // width: 50px; //tablet
            width: 50px; //mobile
        }
    }

    .title {
        display: inline-block;
        // width: 75%;
        padding: 10px;

        h1,
        h3 {
            text-align: right;
            vertical-align: bottom;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: $head1;
            font-weight: 100;
            font-family: $fontFamily;
        }

        h3 {
            font-family: $fontFamily;
            font-size: $head3;
            color: $color3;
            text-transform: uppercase;
        }
    }
}

.footer-area {
    padding: 5px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.content-area {
    @extend .common;
    margin-bottom: 10px;

    .banner-img {
        padding: 0px;
        margin-bottom: 10px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .about-me{
        h2 {
            margin-bottom: 5px;
            font-size: $head2;
            font-weight: 400;
        }
        p{
            color: $color3;
        }
    }

    .featured-works {
        // width: 100%;
        h2 {
            margin-bottom: 5px;
            font-size: $head2;
            font-weight: 400;
        }

        img {
            width: 400px;
        }

        .articles {
            display: inline-block;
            // border: 2px solid;
            // width: 33%;
            // width: calc(100% / 3);
            figure {
                // text-align: center;
                padding: 5px;

                img {
                    width: 100%;
                    height: auto;
                    border: 1px solid;
                }

                figcaption {
                    text-align: center;

                    h3 {
                        font-family: $fontFamily;
                        font-size: $head3;
                        color: $color3;
                        text-transform: uppercase;
                    }

                    a {
                        color: $color3;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .header-area .logo img{
        width: 60px; // Tablet
    }

}
@media only screen and (min-device-width: 1025px) {
    .header-area .logo img{
        width: 80px; //Desktop
    }
    .header-area .title{
        padding: 20px 10px;
    }
    .content-area .banner-img img{
        height: 300px;
    }

}
