$font-color: #000;
// $font-family: 'Tahoma', 'Verdana';
// $font-family: 'Tahoma';
// $font-family: 'Arial';
$font-family: 'Roboto', sans-serif;


$fontSize1 : 18px;
$head1 : 2em;
$head2 : 1.5em;
$head3 : 1em;

$color1 : #02b3e4;
$color2 : #2d3c49;
$color3 : #7d97ad;
