$font-color: #000;
$font-family: 'Roboto', 'sans-serif', 'Tahoma', 'Verdana', 'Arial';

$fontSize1 : 18px;
$head1 : 2.5em;
$head2 : 2em;
$head3 : 1.5em;

$color1 : #02b3e4;
$color2 : #7d97ad;
$color3 : #2d3c49;
